* { box-sizing: border-box;}


.product {
    width: 100%;
    height: 200px;
    background-color: hotpink;
    border-radius: 5%;
}

#row1 {
    opacity: 50%;
}



.background {
    background-image: url(../images/flowers\ banner.jpg);
    width: 100%;
    height: 400px;
}
